@use '../config/reset.scss';
@use '../config/variaveis.scss';

.introducao {
  display: flex;
  .introducao-imagem {
    max-width: 100%;
    display: flex;
    padding: 40px;
    padding-left: 0;
  }
  .introducao-imagem img {
    border-radius: 4px;
    max-width: 100vw;
  }
}
.introducao-texto {
  display: flex;
  flex-direction: column;
  padding: 40px;
  h3 {
    font-size: 1.3rem;
    font-style: italic;
    color: rgb(31, 96, 216);
    border-bottom: 2px solid rgb(31, 96, 216);
    padding-bottom: 20px;
  }
  p {
    padding: 40px 0;
  }
}






